// https://coolors.co/5bc0eb-fde74c-9bc53d-e55934-fa7921

$black: #000;
$gray: #999;
$white: #fff;

$android-green: #9bc53d;
$blue-jeans: #5bc0eb;
$flame: #e55934;
$gargoyle-gas: #fde74c;
$princeton-orange: #fa7921;
