.sound-effect {
  width: 132px;
  height: 64px;
  margin: 4px;
  padding: 16px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background: #9bc53d;
  box-shadow: 0 0 8px #999;
}

.sound-effect:hover {
  box-shadow: 0 0 8px #000;
}

.sound-effect__playing {
  background: #e55934;
}
