@import "../../theme/colors.scss";

.sound-effect {
  width: 132px;
  height: 64px;
  margin: 4px;
  padding: 16px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background: $android-green;
  box-shadow: 0 0 8px $gray;
}

.sound-effect:hover {
  box-shadow: 0 0 8px $black;
}

.sound-effect__playing {
  background: $flame;
}
